
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <a href="javascript:history.back();" title="Go Back" rel="tooltip"><i class="icon-arrow-left"></i></a> Go Back
      <!--Sidebar content-->
       <div class="well sidebar-nav" style="background-color:#fcf8e3;">
            <ul class="nav nav-list">
              <li class="nav-header">Instructor Info:</li>
              <!--<li class="active"><a href="#">Link</a></li>-->
              <li><strong>Firstname:</strong> <%= @newhire.first_name %> </li>
              <li><strong>Lastname:</strong> <%= @newhire.last_name %></li>
              <li><strong>School:</strong> <%= @newhire_dept.school.description %></li>
              <li><strong>Department:</strong> <%= @newhire_dept.name %></li>
                         

            </ul>
          </div><!--/.well -->
    </div>
    <div class="span9">
      <!--Body content-->
     		
      	<fieldset class="round">
			<legend>To Teach:</legend>				
				 <%= form_for(@newhirecourse) do |f| %>
				 <%= hidden_field_tag :newhire_id, params[:newhire_id] %>
				
				  <div class="control-group">
						<label><font color="red">*</font> Course Prefix and Number:</label>
						<%= f.text_field :name %> <div class="help-block"></div>
          </div>
					
           <div class="control-group">
						<label><font color="red">*</font> Course title:</label>
						<%= f.text_field :title %>
            <div class="help-block"></div>
          </div>
					
           <div class="control-group">
						<label><font color="red">*</font> Description:</label>
						<%= f.text_area :description, :class => 'ckeditor' %>
            <div class="help-block"></div>
          </div>
						
						<br>
						Click <%= f.submit 'Save', :id => "Save" , :disabled => current_user.ro , :class => 'btn btn-small btn-primary'%> to save this course.
			    <% end %>
		</fieldset>

   

 	</div>
  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){ 

    jQuery('.edit_newhirecourse').validate(
       {
        rules: {
          "newhirecourse[name]": {
            minlength: 2,
            required: true
          },
          "newhirecourse[title]": {
            required: true          
          },
          "newhirecourse[description]": {
            required: true
          }
        },
         messages: {
          "newhirecourse[name]": "Please enter a course name",
          "newhirecourse[title]": "Please enter a course title",
          "newhirecourse[description]": "Please enter a course description"
        },  
          highlight: function (element, errorClass, validClass) {
               $(element).closest('.control-group').removeClass('success').addClass('error');
          },
          unhighlight: function (element, errorClass, validClass) {
              $(element).closest('.control-group').removeClass('error').addClass('success');
          },
          success: function (label) {
              $(label).closest('form').find('.valid').removeClass("invalid");
          },
          errorPlacement: function (error, element) {
              element.closest('.control-group').find('.help-block').html(error.text());
          }
       }); 
});
</script>