

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Sidebar content-->
      	 <div class="well sidebar-nav"  style="background-color:#fcf8e3;">
            <ul class="nav nav-list">
              <li class="nav-header">Instructor Info:</li>
              <!--<li class="active"><a href="#">Link</a></li>-->
              <li><strong>Firstname:</strong> <%= @newhire.first_name %> </li>
              <li><strong>Lastname:</strong> <%= @newhire.last_name %></li>
              <li><strong>School:</strong> <%= @newhire_dept.school.description %></li>
              <li><strong>Department:</strong> <%= @newhire_dept.name %></li>

            </ul>
          </div><!--/.well -->
    </div>
    <div class="span9">
      <!--Body content-->
     			<%= form_for @newhirecourse do |f| %>
				<%= hidden_field_tag 'newhire_id', @newhire.id %>
      				<fieldset class="round">
							<legend>To Teach:</legend>

							<div class="control-group">
								<label><font color="red">*</font> Course Prefix and Number:</label>
								 <%= text_field_tag 'course_name' %>
								 <div class="help-block"></div>

							<div class="control-group">
								<label><font color="red">*</font> Course title:</label>
									<%= text_field_tag 'course_title' %>
									<div class="help-block"></div>
						    </div>

						    <div class="control-group">
								<label><font color="red">*</font> Brief Course Description:</label>
								<%= text_area_tag 'course_description','', :class => 'ckeditor' %>
								<div class="help-block"></div>
							</div>

							<br>
							Click <%= f.submit 'Add', :id => "Add" , :class => 'btn btn-small btn-primary' %> to save this course.</p>
							
							<!--
							   <br>
								Click <%= submit_tag 'Done', :id => "Done", :class => 'btn btn-small btn-warning' %> to finish this section.
							-->
					</fieldset>
     <% end %>

     <br>

				<% if @newhire_courses_added.count > 0 %>
				<br>
					
						<fieldset class="round">
							<h4>Courses Added:</h4>
								<table  class="table">
									<th>Course</th>
									<th>Title</th>
									<th>Description</th>

										<% @newhire_courses_added.each do |ca| %>
							    			<tr>
							    				<td><%=  ca.name %> </td>
							    				<td><%=  ca.title.humanize %></td>
							    				<td><%=  ca.description.humanize.html_safe %></td>
							    			</tr>
							 			<% end %>


								</table>
					   </fieldset>

					
			<% end %>


    </div>
  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
	
	//CKEDITOR.instances.course_description.updateElement();

	jQuery("#Add").click(function(){

		jQuery('.new_newhirecourse').validate(
			 {
			  rules: {
			    course_name: {
			      minlength: 2,
			      required: true
			    },
			    course_title: {
			      required: true		      
			    },
			    course_description: {
			      required: true
			    }
			  },
			   messages: {
			   	course_name: "Please enter a course name",
	        	course_title: "Please enter a course title",
	        	course_description: "Please enter a course description"
			  }, 	
			    highlight: function (element, errorClass, validClass) {
	       			 $(element).closest('.control-group').removeClass('success').addClass('error');
			    },
			    unhighlight: function (element, errorClass, validClass) {
			        $(element).closest('.control-group').removeClass('error').addClass('success');
			    },
			    success: function (label) {
			        $(label).closest('form').find('.valid').removeClass("invalid");
			    },
			    errorPlacement: function (error, element) {
			        element.closest('.control-group').find('.help-block').html(error.text());
			    }
			 });
	});
});
</script>
