<h1>Listing reviewreasons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Review ok</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviewreasons.each do |reviewreason| %>
  <tr>
    <td><%= reviewreason.name %></td>
    <td><%= reviewreason.review_ok %></td>
    <td><%= link_to 'Show', reviewreason %></td>
    <td><%= link_to 'Edit', edit_reviewreason_path(reviewreason) %></td>
    <td><%= link_to 'Destroy', reviewreason, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reviewreason', new_reviewreason_path %>
