

<div class="container-fluid">
  <div class="row-fluid">
   
      <div class="span3">
         <!--Sidebar content-->
         <a href="javascript:history.back();" title="Go Back" rel="tooltip"><i class="icon-arrow-left"></i></a> Go Back
         <%= render 'newhires/instructorinfo_basic' %>
      </div>
      <div class="span9">
        <!--Body content-->
        

          <fieldset class="round">
                  <legend>
					Additional Comments: 
				</legend>
				<table>
					<tr>
						<td>Comments to assist with establishing credentials to teach</td>
					</tr>
					<tr>
						<td>
							<%= form_for @comment,  :url => newhirecomment_create_path  do |f| %>
							<%= hidden_field_tag 'newhire_id', params[:newhire_id] %>
                   			<%= hidden_field_tag 'course_id', params[:course_id] %>
                   
								<%= f.text_area :comment, :placeholder =>  "Additional Comments or other Justification such as Research or Professional Certifications", :class => "ckeditor" %> 	
								<br/>
								Click <%= f.submit  "Save", :disabled => current_user.ro, :class => 'btn btn-small btn-primary' %> to save this Qualification/Comment and finish the form.
								<br/>
								<!--
								Click <%#= f.submit  "Finish", :disabled => current_user.ro %> to finish the Certification of Credentials and Qualifications
								-->
							<% end %>		

						</td>
					</tr>
				</table>
                          
                               
            </fieldset>
       
      </div>
  </div>
</div>