
       
         
      <fieldset class="round">
        <h4>
           <%if  @newhire_course_to_review.assigned_to == current_user.id %>
             <%= link_to image_tag('/assets/Add_16x16.png'),
                    {:controller => 'newhires', :action => 'signoff',:newhire_id => params[:newhire_id], :course_id => params[:id]}, 
                        :onClick=>"window.open(this.href,'Sign off','scrollbars=1, height=600, width=750'); return false;" ,
                          :title => 'Sign off', :rel => 'tooltip'%>
           <% end %>
          Sign-off:
       </h4>  
        <table  class="table table-condensed table-hover">
         <% if (@newhire_signoffs.count > 0) %>
              
                <th>Status</th>
                <th>Sent To</th>
                <th>Sent By</th>
                <th>Comment</th>
                <th>Created On</th>  
                <% if current_user.group.name == "admin" %>        
                  <th>Actions</th> 
                <% end %>        
                <% @newhire_signoffs.each do |nhs| %>
                  <tr  <% if nhs.signed_off == 1 || @newhire_course_to_review.final_approval == 1 %>class="success"<% else %>class="error"<% end %> >
                    <td>

                        <%= nhs.status(nhs.signed_off, User.find(nhs.user_id).permission_id, @newhire_course_to_review.final_approval) %>
                    

                    </td>
                    <td><%= nhs.signed_off_by(nhs.sentto_id) %></td>
                    <td><%= nhs.signed_off_by(nhs.user_id) %></td>
                    <td><%= nhs.comment.html_safe %></td>
                    <td><%= nhs.created_at.strftime('%m/%d/%Y %l:%M %P') %></td>
                     <% if current_user.group.name == "admin" %>  
                      <td>
                         <%= link_to image_tag('/assets/Delete_16x16.png'), newhire_delete_signoff_path(:id => nhs,:newhire_id => params[:newhire_id], :course_id => params[:id]), :method => :delete_signoff, :class => "destroy", :confirm => "Are you sure you want to delete this signoff entry?",:title => 'Delete signoff entry', :rel => 'tooltip'
                                      %>
                      </td>
                    <% end %>
                  </tr> 
                <% end %>          
         
        <% else %>
              
                    <div class="alert alert-error">
                      <div align="center">
                        No one has signed off on this entry
                      </div>
                    </div>
                  
        <% end %>
         </table>
        </fieldset> 
