<%#= link_to image_tag('/assets/Previous_16x16.png'), '/newhires/schools',  :title => 'Go to Colleges', :rel => 'tooltip'%>
<div class="row-fluid">
     <div class="span5">
     	<h4>
        <a href="/newhires/schools" title="Go to Colleges" rel="tooltip"><i class="icon-arrow-left"></i></a> 
        <%=@school_name %> Departments
      </h4>
     </div><!--/span-->
</div>
<% @departments.each do |department| %>
<div class="row-fluid">
            <div class="span4">
              <div class="well sidebar-nav"  style="background-color:#fcf8e3; margin:5px;">
              <h5><%= department.name %> </h5>
              <p><%= department.count_by_dept(department.id, session[:semester_id]) %></p>
               <p><%= department.not_completed(department.id, session[:semester_id]) %></p>
               <p><%= department.assigned_to_me(department.id, session[:semester_id], current_user.id) %></p>
              <p><a class="btn" href="#" onclick="window.location.href='<%= url_for :action => 'list_pending', :department_id => department.id %>'">View details &raquo;</a></p>
          		</div>
            </div><!--/span-->
<% end %>
