

       
            <fieldset class="round">
              <legend >New Review Comments:</legend>  
               <%= form_for :newhirereviewreason, :url => '/newhires/send_review_msg' do |f| %>
   
                <%= hidden_field_tag 'newhirereviewreason[newhire_id]', params[:newhire_id] %>
                <%= hidden_field_tag 'newhirereviewreason[course_id]', params[:course_id] %>
                
                <% @newhire_reasons_added.each do |nhc| %>
                  <%= hidden_field_tag  'newhirereviewreason[newhirereason_id]', nhc.id %>
              <% end %>

              <table class="profile no-zebra no-hover">
                <tr>
                  <td>
                   
                    <%= f.radio_button :review_state, Reason.review_passed %> Passed
                    <%= f.radio_button :review_state, Reason.review_failed %> Not Passed <br><br>
                    <strong> Comments: </strong>
                    <%= f.text_area :review_comments, :class => 'ckeditor' %><br/>
                    <%= f.submit  "Submit", :id => "Submit" ,:class => 'btn btn-small btn-primary' %>
                 </td>
                </tr>
              </table>
                <% end %>
            </fieldset>
          
