<%#= link_to image_tag('/assets/Previous_16x16.png'), '/precredentialing',  :title => 'Precredentialing main menu', :rel => 'tooltip'%>

<div class="row-fluid">
     <div class="span4">
     	<h4>Colleges</h4>
     </div><!--/span-->
</div>

<% @schools.each do |school| %>
<div class="row-fluid">
            <div class="span4">
	            <div class="well sidebar-nav" style="background-color:#fcf8e3; margin:5px;">
	              <h5><%= school.description %></h5>
	                <p><%= school.count_by_school(school.id, session[:semester_id]) %></p>
	                <p><%= school.not_completed(school.id, session[:semester_id]) %></p>
	            	<p><%= school.assigned_to_me(school.id, session[:semester_id], current_user.id) %></p>
	              <p><div class="btn" onclick="window.location.href='<%= url_for :action => 'departments' , :school_id => school.id %>'">View departments &raquo;</div></p>
	            </div><!--/span-->
	         </div>

<% end %>