Show New Hires



<br> New Hire Count: <%= @newhire_count %>

<% if @newhires.nil? || @newhires.count == 0 %>
	<div class="error round">
  			<center>No New Hires Available</center>
  	</div>

<% else %>
	<table class="profile">
	  <th>Lastname</th>
	  <th>First</th>
	  <th>Department</th>
	  <th>Review Status</th>
	  <th>Actions</th>
	    <% @newhires.each do |newhire| %>
			  <tr>
			  	<td><%= newhire.last_name %></td>
			  	<td><%= newhire.first_name %></td>
			  	<td>N/A</td>
			  	<td>N/A</td>
			  	<td>
			  		<%#= link_to '[Edit]', edit_newhire_path(newhire) %>
			  		<%#= link_to '[View]', newhiredetails_path(newhire) %>
			  		<%= link_to image_tag('/assets/Edit_16x16.png'), newhiredetails_path(newhire) %>
			  		<%= link_to image_tag('/assets/Preview_16x16.png'), newhireshowcourses_path(newhire) %>
			  	</td>
			  </tr>
		  <% end %>
	</table>  
<% end %>