<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Sidebar content-->
      <a href="javascript:history.back();" title="Go Back" rel="tooltip"><i class="icon-arrow-left"></i></a> Go Back
      	 <%= render 'instructorinfo_basic' %>
    </div>
    <div class="span9">
      <!--Body content-->
     
				<fieldset class="round">
					<h4> <%= link_to image_tag('/assets/Add_16x16.png'), new_newhirecourse_path(:newhire_id => params[:id]), :title => 'Add a course', :rel => 'tooltip'  %> Courses To Teach:</h4>
						
						<% if @newhirecourses.count > 0 %>
							<table class="table  table-hover">
								
								<th>Prefix & Number</th>
								<th>Title</th>
								<th>Description</th>
								<th>Review Status</th>
								<th>Action</th>
								<th></th>								
									
										<% @newhirecourses.each do |ca| %>
							    			<tr>

							    				<td><%=  ca.name %></td> 
							 					<td><%=  ca.title.humanize %></td>
							 					<td><%=  ca.description.humanize.html_safe %></td> 	
							 					<td>
							 						
							 						<% if ca.reviewed_by_reviewteam(ca).count == 1 %>
							 							1 of 2 reviewed
							 						<% elsif ca.reviewed_by_reviewteam(ca).count >= 2 %>
							 							<%= image_tag('/assets/Check_16x16.png')  %>
							 						<% else %>
							 							<%= image_tag('/assets/Cancel_16x16.png') %>
							 						<% end %>
							 						
							 					</td>
							 					
							 							
							 						<%#= link_to image_tag('/assets/Preview_16x16.png'), newhire_review_course_path(:id => ca , :newhire_id => params[:id]) , :title => 'See course details ', :rel => 'tooltip' %>	 				 					 	
					 						
								 						<%if  ca.assigned_to == current_user.id %>	
								 							<td>						
								 													 							
								 							<%= link_to image_tag('/assets/Edit_16x16.png'),  edit_newhirecourse_path(ca , :newhire_id => params[:id]) , :title => 'Edit course information ', :rel => 'tooltip' %>


								 							<% if @newhirecourses.count > 1 %>
									 							
									 							<%= link_to image_tag('/assets/Delete_16x16.png'), newhirecourse_path(ca , :newhire_id => params[:id]), :method => :delete, :class => "destroy", :confirm => "Are you sure you want to delete this course?", :title => 'Delete course ', :rel => 'tooltip' %>	
									 						
									 						<% end %>
									 						</td> 
									 						<td>
									 							<%= button_to "Start", newhire_review_course_path(:id => ca , :newhire_id => params[:id]), :class => "btn btn-mini btn-primary" ,:method => :post, :title => 'Start Pre-Credentialing ', :rel => 'tooltip' %>
									 						</td> 										 						
									 					<% else %>
									 						<td>
									 							&nbsp;
									 						</td>
									 						<td>
									 						<%= button_to "View", newhire_review_course_path(:id => ca , :newhire_id => params[:id]) , :class => "btn btn-mini btn-warning" , :title => 'See course details ', :rel => 'tooltip' %>	
									 						</td> 
									 					<% end %>	
								 				
							 					

							 				</tr>
							 			<% end %>				 		

							</table>
						<% else %>

				                          <div class="alert alert-error">
				                            <div align="center">
				                              Please ADD courses to teach!
				                            </div>
				                          </div>
				                       

						 		<% end %>
					</fieldset>	

				<%#= render 'notification_messages' %>

				
    </div>
  </div>
</div>

