<h1>Listing keyvalues</h1>

<table>
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @keyvalues.each do |keyvalue| %>
  <tr>
    <td><%= keyvalue.key %></td>
    <td><%= keyvalue.value %></td>
    <td><%= link_to 'Show', keyvalue %></td>
    <td><%= link_to 'Edit', edit_keyvalue_path(keyvalue) %></td>
    <td><%= link_to 'Destroy', keyvalue, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Keyvalue', new_keyvalue_path %>
