<% provide :title, "Justify Course - Dean Signoff" %>

<%= render 'wizard/faculty_and_course'%>
<%= render 'wizard/reason_basic'%>
<%= render 'wizard/review_results'%>

<%= form_for @reason,  :url => '/wizard/process_justification_deansignoff'  do |f| %>
	<div class="info round">
		<p>
			<label> Dean Signoff: </label> <%= f.check_box :dean_signoff %><br/>
			<label> Deans Comments: </label> <%= f.text_area :dean_comments %> 	
		</p>	 	
	</div> 	
	<%= f.submit  "Submit", :id => "Submit", :disabled => current_user.ro %>
<% end %>
<br/>

<%= link_to "Return to Courses", '/wizard/show_courses_for', :class => 'xbutton'%>
<%= link_to "Return to My Faculty", '/wizard/faculty', :class => 'xbutton'%>