
<div class="container-fluid">
  <div class="row-fluid">
   
      <div class="span3">
        <!--Sidebar content-->
           <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Instructor Info:</li>
                <!--<li class="active"><a href="#">Link</a></li>-->
                <li><strong>Firstname:</strong> <%= @newhire.first_name %> </li>
                <li><strong>Lastname:</strong> <%= @newhire.last_name %></li>
                

              </ul>
            </div><!--/.well -->
      </div>
      <div class="span9">
         <%= form_for @newhirecredential do |c| %>

                <%= hidden_field_tag 'newhire_id', params[:newhire_id] %>
                <%= hidden_field_tag 'course_id', params[:course_id] %>
                
         <fieldset class="round">
                <legend>Instructor Credentials:</legend>
                <br><strong>The instructor is credentialed to teach:</strong><br>
               
                            <% @qualificationreasons.each do |qr| %>
                                <br><%= radio_button_tag  'qualificationreason_id',  qr.id, {:onclick => "do_inst();"} %>
                              <%=  qr.name.humanize %>
                            <% end %> 
                      <br />
                      <br />
                      <p>
                      <strong>Explanation of instructor's qualifications:</strong><br>
                           <%= text_area_tag 'qualification_explanation' %>
                      </p>
                      
                      <!--
                      <p>
                       Click <%= c.submit "Save & Continue" %> to finish this section and continue precredentialing.

                      </p>
                    -->
                 
          </fieldset>
        </div>

        <div id="content">
           Click <%= c.submit "Save & Continue" %> to finish this section and continue precredentialing.
        </div>
        <% end %>
      </div>


  </div>
</div>
------------------------------------
<%#= @newhire.details %> <br>

<div id="wrapper">
  <div id="middle">
    <div id="container">

      <div id="content">  
          <fieldset class="round">
                <legend>Instructor Credentials:</legend>
                <br><strong>The instructor is credentialed to teach:</strong><br>
                <%= form_for @newhirecredential do |c| %>
                            <% @qualificationreasons.each do |qr| %>
                                <br><%= radio_button_tag  'qualificationreason_id',  qr.id, {:onclick => "do_inst();"} %>
                              <%=  qr.name.humanize %>
                            <% end %> 
                      <br />
                      <br />
                      <p>
                      <strong>Explanation of instructor's qualifications:</strong><br>
                           <%= text_area_tag 'qualification_explanation' %>          
                      </p>
                      
                      <!--
                      <p>
                       Click <%= c.submit "Save & Continue" %> to finish this section and continue precredentialing.

                      </p>
                    -->
                 
          </fieldset>
        </div>

        <div id="content">
           Click <%= c.submit "Save & Continue" %> to finish this section and continue precredentialing.
        </div>
        <% end %>

</div><!-- #container-->


    <div class="sidebar" id="sideLeft" style=" -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;">
        <%= @newhire.details %>
      </div>

  </div><!-- #middle-->
</div><!-- #wrapper -->