<div class="container-fluid">
  <div class="row-fluid">
   
      <div class="span3">
         <!--Sidebar content-->
         <%= render 'newhires/instructorinfo_basic' %>
      </div>
      <div class="span9">
        <!--Body content-->
        <%= form_for @newhirecredential do |c| %>

                   <%= hidden_field_tag 'newhire_id', params[:newhire_id] %>
                   <%= hidden_field_tag 'course_id', params[:course_id] %>
          <fieldset class="round">
                  <legend>Instructor Credentials:</legend>
                  <br><strong>The instructor is credentialed to teach based on:</strong><br>
                  

                              <% @qualificationreasons.each do |qr| %>
                               <% if qr.id != 7 %>
                                  <br><%= radio_button_tag  'qualificationreason_id',  qr.id, {:onclick => "do_inst();"}, :class => "radio" %>
                                <%=  qr.name.humanize %> 
                                <% end %>
                              <% end %> 
                        <br />
                        <br />
                         <div class="control-group">
                         <strong>Major:</strong><br>
                           <%= text_field_tag 'qualification_major', '',  :placeholder => 'Enter major here...' %>     

                           <%= link_to 'List of Terminal Degrees by Dept.', 
                                                  {:controller => 'newhiredocuments', 
                                                    :action => 'term_degree_download', 
                                                    :source => 'detailscreen'},
                                                    :onClick=>"window.open(this.href,'Terminal Degree List','scrollbars=1,height=500, width=700'); return false;" ,
                                                    :title => 'Terminal Degree List', 
                                                    :rel => 'tooltip'%>
                            <div class="help-block"></div>
                          </div>

                        <p>
                        <strong>Explanation of instructor's qualifications:</strong><br>
                             <%= text_area_tag 'qualification_explanation', '', :class => 'ckeditor' %>        

                        </p>
                        
                        <p>
                         <%= c.submit "Save & Continue", :class => 'btn btn-small btn-primary' %>

                        </p>
                          
                               
            </fieldset>
        <% end %>
      </div>
  </div>
</div>


<script type="text/javascript">
jQuery(document).ready(function(){
  
    jQuery('.new_newhirecredential').validate(
       {
        rules: {
          qualification_major: {
            required: true
          }
        },
         messages: {
          qualification_major: "Please enter a major",
          
        },  
          highlight: function (element, errorClass, validClass) {
               $(element).closest('.control-group').removeClass('success').addClass('error');
          },
          unhighlight: function (element, errorClass, validClass) {
              $(element).closest('.control-group').removeClass('error').addClass('success');
          },
          success: function (label) {
              $(label).closest('form').find('.valid').removeClass("invalid");
          },
          errorPlacement: function (error, element) {
              element.closest('.control-group').find('.help-block').html(error.text());
          }
       });
 
});
</script>