<p id="notice"><%= notice %></p>

<p>
  <b>Newhire:</b>
  <%= @newhirecredential.newhire_id %>
</p>

<p>
  <b>Qualificationreason:</b>
  <%= @newhirecredential.qualificationreason_id %>
</p>


<%= link_to 'Edit', edit_newhirecredential_path(@newhirecredential) %> |
<%= link_to 'Back', newhirecredentials_path %>
