<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :defaults %>
    
    <%= csrf_meta_tag %>
    <script src='https://www.google.com/jsapi'></script>
    
     <style>
        div.dataTables_length label {
            
            float: left;
            text-align: left;
          }

          div.dataTables_length select {
            width: 75px;
          }

          div.dataTables_filter label {
            float: right;
            
          }

          div.dataTables_info {
            padding-top: 8px;
          }

          div.dataTables_paginate {
            float: right;
            margin: 0;
            padding: 1;
          }

          table {
            margin: 1em 0;
            clear: both;
          }

        </style>
        
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <%= render 'layouts/show_flash'%>
      <section class="round">
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%# debug(params) %>
      <%# debug(session) %>
      <!--  if Rails.env.development? -->
    </div>
  </body>
</html>
