
<% if current_user.group.name == 'admin'%>

    <h1>Wizard Users</h1>

    <br />

    <%= link_to 'Add new user', new_systemuser_path %>

    <br />

    <table cellpadding="0" cellspacing="0" border="0" class="table table-condensed bordered-table zebra-striped table-hover" id="example">
      <thead>   
        <tr>
        <th>username</th>
        <th>department</th>
        <th>college</th>
        <th>permission</th>
        <th>group</th>   
        <th>action</th>
      </tr>
      </thead>
    <tbody>

        <% @systemusers.each do |systemuser| %>
          <tr>
            <td><%= systemuser.name %></td>
            <td><%= systemuser.getDeptName(systemuser.department_id) %></td>
            <td><%= systemuser.getSchoolName(systemuser.school_id) %></td>
            <td><%= systemuser.getPermissionName(systemuser.permission_id) %></td>
            <td><%= systemuser.getGroupName(systemuser.group_id) %></td>
            <td>
              <%#= link_to 'Show', systemuser %>
              <%= link_to 'Edit', edit_systemuser_path(systemuser) %>
              <%= link_to 'Delete', systemuser, confirm: 'Are you sure?', method: :delete %>
            </td>
          </tr>
        <% end %>
       </tbody> 
    </table>

    <br />

    <%#= link_to 'New Systemuser', new_systemuser_path %>

    <%= javascript_tag do %>

    $(document).ready(function(){
      
        $('#example').dataTable();

          
    });

    <% end %>
  <% else %>
    <h1>Unauthorized</h1>
  <% end %>


